## .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
TestResults/
coverage/
*.trx

## Secrets / Environment
.env
.env.*
appsettings.local.json
appsettings.Development.json

## Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/.terraform.lock.hcl
infra/terraform/**/.terraform/
infra/terraform/**/*.tfstate

## Docker
docker/localstack/data/

## IDE
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db
